{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <!-- <h3>Welcome {{request.user}}</h3> -->
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a></li>
   </ul>
  </div>
  <div class="col-sm-2 border-end">
    <ul class="list-unstyled">
     <li class="d-grid">Your Password Has been Reset Successfully</li>
    </ul>
   </div>
 </div>
</div>
{% endblock main-content %}